<%- include("../layout/adminLayout/header.ejs") %>
<main id="main" class="main">
  <div class="container-fluid mt-3 mb-5 px-4">
    <div class="row row-cols-1 row-cols-md-12 g-4">
      <div class="col">
        <div class="table-responsive">
          <table class="table table-light table-striped">
            <thead>
              <tr>
                <th>sl.no</th>
                <th>Name</th>
                <th>Date</th>
                <th>Total</th>
                <th>Status</th>
                <th>Payment</th>
                <th>view</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i=0; i<orders.length; i++) { %>
                <tr>
                  <td><%= i+1 %></td>
                  <td><%= users[i].user.fullname %></td>
                  <td><%= orders[i].order_date.toLocaleDateString('en-US', { 
                      month: 'long', 
                      day: 'numeric',
                      year: 'numeric' }); %></td>
                  <td>$<%= orders[i].price.toFixed(2) %></td>
                  <td><%= orders[i].order_status %></td>
                  <td>
                    <% if (orders[i].payment_method === "cod") { %>
                      Cash on delivery
                    <% } else if (orders[i].payment_method === "wallet") { %>
                      Wallet
                    <% } else if (orders[i].payment_method === "online") { %>
                      Online
                    <% } %>
                  </td>
                  <td>
                    <a href="/admin/orderDetails?userId=<%= users[i].user._id %>&orderId=<%= users[i]._id %>" class="btn btn-primary">view</a>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include("../layout/adminLayout/footer.ejs") %>
