<%- include("../layout/simpleLayout/header.ejs") %>


<div class="container-fluid vh-100">
  <div class="row m-0">
    <div class="col-lg-3 col-md-4">
      <!-- Sidebar content -->
      <div class="row h-50 align-items-center">
        <div class="col">
          <div class="row h-75">
            <div class="col">
              <div class="row justify-content-center">
                <div class="col-6 d-flex justify-content-center">
                  <div style="height: 8rem;width: 8rem;border: .05rem solid rgb(174, 171, 171);" class="rounded-circle d-flex align-items-center justify-content-center">
                    <i class="fa fa-user" style="font-size: 2.5rem;"></i>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-6 d-flex flex-column align-items-center">
                  <div class="row">Salman</div>
                  <div style="font-size: .75rem;" class="row">Joined June 19, 2023</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 d-flex flex-column">
          <div style="border: .05rem solid rgb(174, 171, 171);min-height: 2rem"><a href="/profile" class="nav-link text-dark">Profile</a></div>
          <div style="border: .05rem solid rgb(174, 171, 171);min-height: 2rem"><a href="/order" class="nav-link text-dark">Orders</a></div>
          <div style="border: .05rem solid rgb(174, 171, 171);min-height: 2rem"><a href="/addAddress" class="nav-link text-dark bg-primary">Address</a></div>
          <div style="border: .05rem solid rgb(174, 171, 171);min-height: 2rem"><a href="" class="nav-link text-dark">Wishlist</a></div>
          <div style="border: .05rem solid rgb(174, 171, 171);min-height: 2rem"><a href="/cart" class="nav-link text-dark">Cart</a></div>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-12">

      <div class="card mt-4 d-flex flex-row">
        <div>
          <% if(contact) {%>
            <div class="card-header bg-light py-4 ">
              <h4 class="mb-0">Contact Address</h4>
              <p class="mb-0">We can contact you here</p>
            </div>
            <div class="card-body">
              <%=contact.phoneNumber%>,<br>
              <%=contact.buildingName%>,<%=contact.street%>,<br>
              <%=contact.city%>,<%=contact.state%>,<br>
              <%=contact.country%>,<br>
              <%=contact.zipCode%>
              <div class="d-flex justify-content-between align-items-center pt-2">
                <a href="/address/edit?type=contact" class="btn btn-primary">Edit Address</a>
              </div>
            </div>
            <% }%>
          </div>
          
          <div>
            <% if(main) {%>
              <div class="card-header bg-light py-4 ">
                <h4 class="mb-0">Main Address</h4>
                <p class="mb-0">We can contact you here</p>
            </div>
            <div class="card-body">
              <%=main.phoneNumber%>,<br>
              <%=main.buildingName%>,<%=main.street%>,<br>
              <%=main.city%>,<%=main.state%>,<br>
              <%=main.country%>,<br>
              <%=main.zipCode%>
              <div class="d-flex justify-content-between align-items-center pt-2">
                <a href="/address/edit?type=main" class="btn btn-primary">Edit Address</a>
              </div>
            </div>
            <% }%>
          </div>

          <div>
            <% if(secondary) {%>
              <% for (s of secondary) {%>
            <div class="card-header bg-light py-4 ">
                <h4 class="mb-0">secondary Address</h4>
                <p class="mb-0">We can contact you here</p>
            </div>
            <div class="card-body">
              <%=s.phoneNumber%>,<br>
              <%=s.buildingName%>,<%=s.street%>,<br>
              <%=s.city%>,<%=s.state%>,<br>
              <%=s.country%>,<br>
              <%=s.zipCode%>
              <div class="d-flex justify-content-between align-items-center pt-2">
                <a href="/address/edit?type=main" class="btn btn-primary">Edit Address</a>
              </div>
            </div>
            <% }%>
            <% }%>
          </div>

        </div>

        <% if(!contact){ %>
        <div class="card mt-4">
            <div class="card-header bg-light py-4 ">
              <h4 class="mb-0">Contact Address</h4>
              <p class="mb-0">We can contact you here</p>
            </div>
            <div class="card-body ">
              <a href="/profile/addnewadress?type=contact" class="btn btn-primary">Add new Address</a>
            </div>
        </div>
        <% } %>
        
        <% if(!main){ %>
        <div class="card mt-4">
            <div class="card-header bg-light py-4 ">
              <h4 class="mb-0">Main Address</h4>
              <p class="mb-0">We can contact you here</p>
            </div>
            <div class="card-body ">
              <a href="/profile/addnewadress?type=main" class="btn btn-primary">Add new Address</a>
            </div>
        </div>
        <% } %>
        
        <% if(secondary){ %>
        <div class="card mt-4">
            <div class="card-header bg-light py-4 ">
              <h4 class="mb-0">secondary Address</h4>
              <p class="mb-0">We can contact you here</p>
            </div>
            <div class="card-body ">
              <a href="/profile/addnewadress?type=secondary" class="btn btn-primary">Add new Address</a>
            </div>
        </div>
        <% } %>

    </div>
    
<%- include("../layout/simpleLayout/footer.ejs") %>
