<%- include("../layout/slidbar/header.ejs") %>

<div class="container-fluid vh-100">
  <div class="row m-0 justify-content-center align-items-center">
      <div class="col-lg-8 col-12 ">

          <% if(contact) { %>
          <div class="card mt-4">
              <div class="card-header bg-light py-4">
                  <h4 class="mb-0">Contact Address</h4>
                  <p class="mb-0">We can contact you here</p>
              </div>
              <div class="card-body">
                  <p><%=contact.phoneNumber%>,</p>
                  <p><%=contact.buildingName%>, <%=contact.street%>,</p>
                  <p><%=contact.city%>, <%=contact.state%>,</p>
                  <p><%=contact.country%>,</p>
                  <p><%=contact.zipCode%></p>
                  <div class="d-flex justify-content-between align-items-center pt-2">
                    <a href="/profile/editAddress?type=main&id=<%= main._id %>" class="btn btn-sm btn-dark">Edit</a>
                  </div>
              </div>
          </div>
          <% } %>

          <% if(main) { %>
          <div class="card mt-4">
              <div class="card-header bg-light py-4">
                  <h4 class="mb-0">Main Address</h4>
                  <p class="mb-0">We can contact you here</p>
              </div>
              <div class="card-body">
                  <p><%=main.phoneNumber%>,</p>
                  <p><%=main.buildingName%>, <%=main.street%>,</p>
                  <p><%=main.city%>, <%=main.state%>,</p>
                  <p><%=main.country%>,</p>
                  <p><%=main.zipCode%></p>
                  <div class="d-flex justify-content-between align-items-center pt-2">
                    <a href="/profile/editAddress?type=main&id=<%= main._id %>" class="btn btn-sm btn-dark">Edit</a>
                  </div>
              </div>
          </div>
          <% } %>

          <% if(secondary) { %>
          <% for (s of secondary) { %>
          <div class="card mt-4">
              <div class="card-header bg-light py-4">
                  <h4 class="mb-0">Secondary Address</h4>
                  <p class="mb-0">We can contact you here</p>
              </div>
              <div class="card-body">
                  <p><%=s.phoneNumber%>,</p>
                  <p><%=s.buildingName%>, <%=s.street%>,</p>
                  <p><%=s.city%>, <%=s.state%>,</p>
                  <p><%=s.country%>,</p>
                  <p><%=s.zipCode%></p>
                  <div class="d-flex justify-content-between align-items-center pt-2">
                    <a onclick="deleteAddress('<%=s._id%>')" class="btn btn-sm btn-danger">Delete</a>
                    <a href="/profile/editAddress?type=main&id=<%= s._id %>" class="btn btn-sm btn-dark">Edit</a>
                  </div>
              </div>
          </div>
          <% } %>
          <% } %>

          <% if(!contact) { %>
          <div class="card mt-4">
              <div class="card-header bg-light py-4">
                  <h4 class="mb-0">Contact Address</h4>
                  <p class="mb-0">We can contact you here</p>
              </div>
              <div class="card-body ">
                  <a href="/profile/addnewadress?type=contact" class="btn btn-primary">Add new Address</a>
              </div>
          </div>
          <% } %>

          <% if(!main) { %>
          <div class="card mt-4">
              <div class="card-header bg-light py-4">
                  <h4 class="mb-0">Main Address</h4>
                  <p class="mb-0">We can contact you here</p>
              </div>
              <div class="card-body ">
                  <a href="/profile/addnewadress?type=main" class="btn btn-primary">Add new Address</a>
              </div>
          </div>
          <% } %>

          <% if(secondary) { %>
          <div class="card mt-4">
              <div class="card-header bg-light py-4">
                  <h4 class="mb-0">Secondary Address</h4>
                  <p class="mb-0">We can contact you here</p>
              </div>
              <div class="card-body ">
                  <a href="/profile/addnewadress?type=secondary" class="btn btn-primary">Add new Address</a>
              </div>
          </div>
          <% } %>

      </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>

<!-- sweet alert cdn -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function deleteAddress(id) {
    Swal.fire({
      icon: "warning",
      title: "Are you sure?",
      text: "Delete Address?",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "remove",
    }).then((result) => {
      if (result.isConfirmed) {
        axios.delete(`/address/delete?id=${id}`).then((result) => {
          Swal.fire("removed!", "Address has been deleted.", "success").then((response) => {
            location.reload();
          })
        })
      }
    });
  }
</script>

<%- include("../layout/slidbar/footer.ejs") %>
