<%- include("../layout/slidbar/header.ejs") %>

<div class="container-fluid mt-5">
  <div class="row px-xl-5" id="row">
      <% if(wishlist){ %>
      <% if(wishlist.items.length > 0) {%>
      <div class="col-lg-12 table-responsive mb-5">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>sl</th>
                <th scope="col" colspan="2">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Add To Cart</th>
                <th scope="col">Remove</th>
              </tr>
            </thead>
            <tbody>

              <% for(let i=0;i<wishlist.items.length;i++) { %>
              <tr id="<%= wishlist.items[i]._id %>">
                <td><%= i+1 %></td>
                <td scope="row"><%= wishlist.items[i].productName %></td>
                <td><img style="max-width: 4.5rem;height: 5rem;" src="<%= wishlist.items[i].image[0].url %>" alt=""></td>
                <td class="align-middle">&#8377;<%= wishlist.items[i].price %></td>
                <td class="align-middle"><button class="btn btn-success " onclick="addToClick('<%=wishlist.items[i]._id%>')" >Add To Cart</button></td>

                <td class="align-middle"><button onclick="removeItem('<%= wishlist.items[i]._id %>')" style="box-shadow: none;" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></td>
              </tr>
              <% } %>

            </tbody>
          </table>

      </div>

      <% }else{ %>
          <div class="col-12 mb-4 mt-4">
              <p class="h1 text-center text-danger">Wishlist is empty</p>
          </div>
      <% } %>
      <% }else{ %>
          <div class="col-12 mb-4 mt-4">
              <p class="h1 text-center text-danger">Wishlist is empty</p>
          </div>
      <% } %>
  </div>
</div>
<!-- Cart End -->




<%- include("../layout/slidbar/footer.ejs") %>
