<%- include("../layout/slidbar/header.ejs") %>

<div class="container-fluid mt-5">
  <div class="row px-xl-5" id="row">
      <% if(wishlist){ %>
      <% if(wishlist.items.length > 0) {%>
      <div class="col-lg-12 table-responsive mb-5">
          <table class="table table-responsive table-secondary">
            <thead class="thead-dark">
              <tr>
                <th>sl</th>
                <th scope="col" colspan="2">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Add To Cart</th>
                <th scope="col">Remove</th>
              </tr>
            </thead>
            <tbody>

              <% for(let i=0;i<wishlist.items.length;i++) { %>
              <tr id="<%= wishlist.items[i]._id %>">
                <td><%= i+1 %></td>
                <td scope="row"><%= wishlist.items[i].productName %></td>
                <td><img style="max-width: 4.5rem;height: 5rem;" src="<%= wishlist.items[i].image[0].url %>" alt=""></td>
                <td class="align-middle">&#8377;<%= wishlist.items[i].price %></td>
                <td class="align-middle"><button class="btn btn-success " onclick="addToClick('<%=wishlist.items[i]._id%>')" ><i class="fa-solid fa-cart-plus"></i></button></td>

                <td class="align-middle"><button onclick="removeItem('<%= wishlist.items[i]._id %>')" style="box-shadow: none;" class="btn btn-sm btn-danger "><i class="fa fa-times"></i></button></td>
              </tr>
              <% } %>

            </tbody>
          </table>

      </div>

      <% }else{ %>
          <div class="col-12 mb-4 mt-4">
              <p class="h1 text-center text-danger">Wishlist is empty</p>
          </div>
      <% } %>
      <% }else{ %>
          <div class="col-12 mb-4 mt-4">
              <p class="h1 text-center text-danger">Wishlist is empty</p>
          </div>
      <% } %>
  </div>
</div>
<!-- Cart End -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<script>

  function decrementQuantity(productId, userId){
      
      $.ajax({
          type: "GET",
          url: "/decrementQuantity",
          data: {
              userId: userId,
              productId: productId,
          },
          success: function(res){
              if(res.response){
                  
                  $.get(location.href, function(data) {
                      $(`#${productId}`).html($(data).find(`#${productId}`).html());
                      $("#carttotal").html($(data).find("#carttotal").html());
                      $("#subtotal").html($(data).find("#subtotal").html());
                  });
              }
          }
      })
  }

  function incrementQuantity(productId, userId){
      
      $.ajax({
          type: "GET",
          url: "/incrementQuantity",
          data: {
              userId: userId,
              productId: productId,
          },
          success: function(res){
              if(res.response){
                  
                  $.get(location.href, function(data) {
                      $(`#${productId}`).html($(data).find(`#${productId}`).html());
                      $("#carttotal").html($(data).find("#carttotal").html());
                      $("#subtotal").html($(data).find("#subtotal").html());
                  });
              }
          }
      })

  }

  function removeItem(productId){
    
      $.ajax({
          type: "GET",
          url: "/addToWishlist",
          data: {
              productId: productId,
          },
          success: function(res){
                  
              $.get(location.href, function(data) {
                  $("#row").html($(data).find("#row").html());
                  $("#wishlist").html($(data).find("#wishlist").html());
                  $("#cart").html($(data).find("#cart").html());
              });
              
          }
      })
  }

  function addToClick(id){
      
      axios.get(`/addCart?productId=${id}`)
      .then((result)=>{
          if(result.data.response){
              Swal.fire("Added!", "product has added to cart.", "success").then((response) => {
                  removeItem(id)
              })

              
          }else{
              let x = document.getElementById("snackbar-error");
              x.className = "show";
              setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
          }
          
      })
          
  }


</script>


<%- include("../layout/slidbar/footer.ejs") %>
